//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

// responsive
// Extra small screen / phone
$xs: 0;
// Small screen / phone
$sm: 576px;
// Medium screen / tablet
$md: 768px;
// Large screen / desktop
$lg: 992px;
// Extra large screen / wide desktop
$xl: 1200px;
// color
$primary: #7367F0;

