.custom-container {
  margin: 0 auto;
}

.invisible-table {
  list-style: none;
}

.invisible-table li {
  display: table-row;
}

.invisible-table li span {
  display: table-cell;
  padding: 1.5rem 1rem 0 5rem;
}

.img-space {
  margin-top: 1.5rem;
}